.container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 380px;
  background-color: #FFFEF3;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  overflow-y: auto;
}
.title {
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.mapNameLabel {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.1rem;
}
.mapNameForm {
  border: 3px solid #A08702; 
  border-radius: 0.375rem; 
  width: 100%;
  padding: 0.5rem 0.5rem; 
    font-size: 0.875rem;
    background-color: white;
}
.mapNameFormContainer {
  margin-bottom: 1rem;
}
.mapImageLabel {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.1rem;
}
.mapImageInput {
 display: none;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 0.875rem;
    background-color: white;
}
.mapImageUploadFormContainer {
  margin-bottom: 1rem;
}
.mapUploadLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px 20px;
  color: #b79a25;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.previewWrapper {
  margin-top: 0.5rem;
  border-radius: 8px;
  padding: 4px;
  background-color: #fafafa;
}
.preview-container {
  margin-top: 0.5rem;
}
.fileinput {
  border: 3px solid #A08702; 
  border-radius: 0.375rem; 
  padding: 0.5rem;
  background-color: white;
}
.buttonRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}
