<<<<<<< HEAD
/* -----------------------------
  Tailwind 基本読み込み
----------------------------- */
@import "tailwindcss";

/* -----------------------------
  基本スタイル
----------------------------- */
@layer base {
  body {
    font-family: "Noto Sans JP", sans-serif;
  }
}

/* -----------------------------
  独自ユーティリティクラス
----------------------------- */
@layer utilities {
  /* テキストカラー */
  .text-main {
    color: #a08702;
  }
  .text-second {
    color: #d4c648;
  }
  .text-accent {
    color: #b02f30;
  }
  .text-third {
    color: #492b04;
  }
  .text-pin {
    color: #8002a0;
  }

  /* 背景カラー */
  .bg-main {
    background-color: #fffef3;
  }
  .bg-planning-details {
    background-color: #f1e2e2;
  }

  /* フォント */
  .font-sans-custom {
    font-family: "Noto Sans JP", sans-serif;
  }
}
