.categorySelect {
  border: 3px solid #A08702;
  border-radius: 0.375rem; 
  width: 100%;
  padding: 0.5rem 0.5rem; 
  font-size: 0.875rem; 
  background-color: white;
}

.planClosedForm {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

.checkboxContainer {
  border: #A08702 3px solid;
  border-radius: 0.375rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
}
.checkboxName {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.0rem;
}


